# JumperlessWokwiBridge.py Requirements
# minimal dependencies

beautifulsoup4
colorama
packaging
psutil
pyduinocli
pyserial
requests
pywin32>=306; platform_system == "Windows"
pynput; platform_system == "Windows"
